<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <header>
            <snippets>
                <header_enabled>0</header_enabled>
                <header_snippet/>
                <body_start_enabled>0</body_start_enabled>
                <body_start_snippet/>
            </snippets>
        </header>
    </default>
</config>
