<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pixiemedia" translate="label" sortOrder="999">
            <label>Pixie Media</label>
        </tab>
        <section id="header" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Snippets</label>
            <tab>pixiemedia</tab>
            <resource>PixieMedia_Snippets::config_pixiemedia_snippets</resource>
            <group id="snippets" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Snippets Config</label>
                <field id="header_enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Header Snippet Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="header_snippet" type="textarea" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Header Snippet</label>
                    <comment/>
                </field>
                <field id="body_start_enabled" type="select" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Body Start Snippet Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="body_start_snippet" type="textarea" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Body Start Snippet</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>
